<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.blobbackup</string>

		<key>ProgramArguments</key>
        <array>
            <string>/usr/bin/open</string>
            <string>--background</string>
            <string>/Applications/Blobbackup.app</string>
			<string>--args</string>
			<string>--open-minimized</string>
			<string>--no-reload-scripts</string>
        </array>

		<key>KeepAlive</key>
		<true/>

		<key>ThrottleInterval</key>
		<integer>3600</integer>
	</dict>
</plist>