/* ============================= 
    CONTACT-3 CSS
================================ */

.contact-style-3 {
  background: #F3F3F3;
  padding: 100px 0 70px;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .contact-form-wrapper {

    form {

      .single-input {
        position: relative;
        margin-bottom: 20px;

        label {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }

        textarea,
        input {
          background: $white;
          border-radius: 5px;
          position: relative;
          padding-right: 20px;
          padding-left: 50px;
          width: 100%;
          border: 1px solid transparent;
          @include box-shadow($box-shadow);
          @include transition(.3s);


          &::placeholder {
            font-weight: 300;
            opacity: 1;
            color: 585978;
          }

          &:focus {
            border-color: $primary-color;
          }
        }

        input {
          height: 56px;
        }

        textarea {
          padding: 15px 20px;
          padding-left: 50px;
          resize: none;
        }

        i {
          position: absolute;
          left: 21px;
          top: 20px;
        }
      }

      .form-button {
        padding-top: 10px;

        button {
          height: 56px;
          border-radius: 5px;

          i {
            padding-left: 0;
            padding-right: 20px;
          }
        }
      }
    }
  }

  .left-wrapper {

    @media #{$desktop} {
      margin-left: 60px;
    }
    @media #{$laptop} {
      margin-left: 40px;
    }
    @media #{$md, $xs} {
      margin-top: 50px;
    }

    .single-item {
      padding: 25px 20px;
      border-radius: 5px;
      background: $white;
      @include box-shadow($box-shadow);
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      @include transition(.3s);

      &:hover {
        @include box-shadow($box-shadow-2);
      }

      .icon {
        max-width: 54px;
        width: 100%;
        height: 54px;
        border-radius: 50%;
        background: $primary-color;
        color: $white;
        margin-right: 20px;
        @include flex-center;
        font-size: 24px;
      }
    }
  }

}