/* ============================= 
    PRICING-4 CSS
================================ */

.pricing-style-4 {
  padding: 100px 0;
  background: #F3F3F3;

  .pricing-active-wrapper {
    position: relative;

    .tns-controls {
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      bottom: 40px;
      left: -250px;

      &:focus {
        outline: none;
      }

      @media #{$md, $xs} {
        left: 0;
        width: 100%;
        justify-content: center;
        bottom: 0;
      }

      button {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: $white;
        color: $heading-color;
        @include flex-center;
        margin: 0 10px;
        border: none;

        &:hover {
          background: $primary-color;
          color: $white;
        }
      }
    }
  }

  .pricing-active {

    .single-pricing {
      background: $white;
      border-radius: 5px;
      margin: 30px  15px;
      padding: 45px 40px;
      border: 1px solid transparent;
      @include transition(.3s);
      position: relative;
      text-align: center;
      @include box-shadow(0px 0px 30px rgba(218, 211, 211, 0.42));
  
      &.active {
        @include transform(scale(1.15));
        z-index: 9;
      }

      @media #{$md, $xs} {
        padding: 40px 25px;
        margin-bottom: 100px;
      }
  
      h6 {
        color: $body-color;
        margin-bottom: 15px;

        @media #{$laptop} {
          font-size: 16px;
        }
        @media #{$md} {
          font-size: 16px;
        }
      }
  
      h4 {
        margin-bottom: 20px;
        font-weight: 500;

        @media #{$laptop} {
          font-size: 24px;
        }
        @media #{$md} {
          font-size: 24px;
        }
      }
  
      h3 {
        margin-bottom: 18px;
        color: $primary-color;
      }
  
      ul {
        margin-bottom: 30px;
  
        li {
          font-size: 16px;
          line-height: 34px;
          margin-bottom: 12px;
        }
      }
    }
  }
}